.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 100vh;
}


.Red{
  color: firebrick;
}

.Green{
  color: #76ff03;
}

.Subheader {
  font-size: 25px; ;
}

.Header {
  color: white;
  font-size: 35px; 
  margin-bottom: 20px;
}

.NextSundayWrapper {
  color: white;
  font-size: 20px; 
  margin-top: 60px;
}

.NextSunday {
  color: cornflowerblue;
}


@media (min-width: 1000px) {
  .Text {
    font-size: 120px; 
  }
  .NotASunday {
    font-size: 100px
  }
}

@media (min-width: 800px) {
  .Text {
    font-size: 100px; 
  }
  .NotASunday {
    font-size: 80px
  }
}

@media (max-width: 800px) {
  .Text {
    font-size: 80px; 
  }
  .NotASunday {
    font-size: 60px
  }
}