.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 100vh;
}

.Text {
  color: cornflowerblue;
  font-size: 120px; 
}

.Subheader {
  color: cornflowerblue;
  font-size: 25px; ;
}

.Header {
  color: white;
  font-size: 35px; 
  margin-bottom: 20px;
}

.NextSundayWrapper {
  color: white;
  font-size: 20px; 
  margin-top: 60px;
}

.NextSunday {
  color: cornflowerblue;
}